<section id="mobile-header">
  <div class="back" role="button">
    <img src="assets/icons/mobile/back.svg" alt="" />
  </div>

  <p class="title" role="button">Sign in</p>

  <div class="feedback" role="button">
    <a
      href="https://air.alibaba.com/app/rax-app/icbu-feedback/pages/index?needAuth=false&websiteId=464&projectId=835&returnUrl=https%3A%2F%2Flogin.alibaba.com%2Fmini_login.htm%3FisMobile%3Dtrue%26_lang%3Den_US%26return_url%3Dhttps%253A%252F%252Fwww.alibaba.com%252F"
    >
      <img src="assets/icons/mobile/review.svg" alt="" />
    </a>
  </div>
</section>
